:root {
	--danger: #cb2916;
	--orange: #ff8533;
	--greentea: #55a518;
}

ul.collapse-list {
	margin: 0;
	padding: 0;
    list-style: none;
}
.collapse-list > li {
    display: inline-block;
}

.table {
	display: table;
}
.table-row {
	display: table-row;	
}
.table-cell {
	display: table-cell;
}
.flex {
	display: flex;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.vertical-align-middle {
	vertical-align: middle;
}

/* 버튼 */
.btn {
	padding: 5px 10px;
	color: black;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: #fff;
}
.btn-gradient-black {
	color: white;
	border: 1px solid darkgray;
	background: linear-gradient(to bottom, #888, #333);
}
.btn-gradient-lightgray {
	color: gray;
	border: 1px solid darkgray;
	background: linear-gradient(to bottom, white, #dbdbdb);
}
.btn-gradient-danger {
	color: white;
	border: 1px solid #cb2916;
	background: linear-gradient(to bottom, #fa8772, #df3023);
}
.btn-gradient-orange {
	color: white;
	border: 1px solid #ff8533;
	background: linear-gradient(to bottom, #ffbf83, #ff816b);
}
.btn-gradient-greentea {
	color: white;
	border: 1px solid #53a019;
	background: linear-gradient(to bottom, #7fc04e, #55a518);
}

/* 드롭다운 */
.dropdown {
	display : inline-block;
}
.dropdown-title {
	padding: 5px 10px;
	border: 1px solid gray;
	border-radius: 3px;
}
.dropdown-item.dropdown .dropdown-title {
	padding: 0;
	border: none;
}
.dropdown-title, .dropdown-item {
	color: black;
	background-color: white;
}
.dropdown-content, .dropdown-content-right {
	display: none;
	position: absolute;
	z-index : 1;
	border: 1px solid gray;
	border-radius: 3px;
	box-shadow: 3px 3px 2px #00000050;
}
ul.dropdown-content, ul.dropdown-content-right {
	margin: 0;
	padding: 0;
}
.dropdown:hover .dropdown-content, .dropdown-item.dropdown:hover .dropdown-content-right {
	display: block;
}
.dropdown-item.dropdown:hover .dropdown-content-right {
	left: 100%;
/* 	transform: translateY(-21px); //js로 계산해서 맞추든 해야되는데 방법을 몰라.. */
}
.dropdown-item {
	display: block;
	padding: 1px 10px 4px 10px;
	border-bottom: 1px solid #ddd;
}
.dropdown-item:last-child {
	border-bottom: none;
}
