:root {
	--headerGreen: #79bc43;
}


/* 헤더의 위치/모양 설정 */
body {
    margin: 0;
    font-size: small;
}
header {
    border-bottom: 4px solid #6285ca;
    background: linear-gradient(to bottom, white, #f3f3f3);
}
header > wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    padding-bottom: 5px;
}
/* 헤더의 메인 메뉴 : 오른쪽 */
header nav.mainMenu img {
    margin: 5px 0;
}
header nav.mainMenu .dropdown {
	border: none;
}
header nav.mainMenu .dropdown-title {
    color: var(--headerGreen);
    color: #2a9142;
    border: 1px solid var(--headerGreen);
    border: 1px solid #2a9142;
}
header nav.mainMenu .dropdown-item.btn {
	color: var(--headerGreen);
	color: #2a9142;
	border: none;
	border-radius: 0;
}
nav.mainMenu .dropdown-item.dropdown.btn {
	padding: 0;
}
nav.mainMenu .dropdown-item, nav.mainMenu .dropdown-item.dropdown.btn > .dropdown-title {
	padding: 5px 10px 6px 10px;
}
.dropdown-item.dropdown:hover .dropdown-content-right {
	transform: translateY(-30px);
}
nav.mainMenu .dropdown-item.dropdown .dropdown-item {
	width: 150px;
}
nav.mainMenu .icon_num {
    display: inline-block;
    transform: translateY(-1px);
    margin-right: 5px;
    width: 15px;
    height: 15px;
    color: white;
    font-weight: 500;
    font-size: 5px;
    text-align: center;
    border-radius: 3px;
    background-color: var(--headerGreen);
    background-color: #2a9142;
}
nav.mainMenu .dropdown-title:hover .icon_num, nav.mainMenu .dropdown-item.dropdown .dropdown-item:hover .icon_num {
	color: var(--headerGreen);
    color: #2a9142;
    background-color: white;
}
/* 헤더의 submenu : 왼쪽 */
header nav.subMenu > ul.sysInfo {
    margin-bottom: 5px;
    padding: 3px 10px;
    color: white;
    font-size: small;
    border: 1px solid var(--headerGreen);
    border: 1px solid #2a9142;
    border-radius: 3px;
    background-color: #69ac37;
}
header nav.subMenu > ul.sysInfo > li { 
    margin: 0 13px;
}
header nav.subMenu > ul.sysInfo > li > span {
    font-weight: bold;
}
header nav.subMenu > ul.sysMenu {
    float: right;
}
header nav.subMenu > ul.sysMenu > li.btn {
    padding: 4px 8px;
}
header nav.subMenu > ul.sysMenu > li span {
    margin-right: 5px;
}
/* submenu의 아이콘 */
header nav.subMenu > ul.sysInfo li .headericon {
    transform: translateY(2px);
    width: 15px;
}
header nav.subMenu > ul.sysMenu > li.btn .headericon {
    width: 10px;
    filter: opacity(0.4) drop-shadow(0 0 0 gray);
}
header nav.subMenu > ul.sysMenu > li.btn-gradient-danger .headericon {
    filter: brightness(0) invert(1);
    /* brightness(0) : 투명 제외 모두 검정으로 */
    /* invert(1) : 이미지 색상 반전 */
}