@charset "UTF-8";

.mainMenu-wrap > article.mainMenu-left > .mainMenu-body table.table tr td:nth-child(n+2) {
	/* 메뉴L 표 모양 설정 */
	width: 50px;
	text-align: center;
}
.mainMenu-wrap > article.mainMenu-right > .mainMenu-body table.table#posTable td:first-child,
.mainMenu-wrap > article.mainMenu-right > .mainMenu-body table.table#posTable td:nth-child(n+3) {
	/* 메뉴R 포스 테이블 모양 설정 */
	text-align: center;
}
.mainMenu-wrap > article.mainMenu-right > .mainMenu-body table.table#posTable tr:nth-child(n+2) td:nth-child(2) {
	color: blue;
}
.mainMenu-wrap > article.mainMenu-right > .mainMenu-body table.table#sectorTable td:nth-last-child(n+3),
.mainMenu-wrap > article.mainMenu-right > .mainMenu-body table.table#sectorTable td:last-child {
	/* 메뉴R 기능 테이블 모양 설정 */
	text-align: center;
}
