/* 본문에서 파티션 배열 설정 */
.indexPage > .partition-wrapper {
    display: flex;
    /* justify-content: space-between; */
}
.indexPage > .partition-wrapper .partition {
    flex: 1;
}
.indexPage > .partition-wrapper .partition:first-child {
    margin-right: 30px;
}
.indexPage > .partition-wrapper {
	margin-top: 20px;
}
.indexPage > .partition-wrapper:first-child {
	margin-top: 0;
}

/* 파티션 모양 설정 */
.indexPage .partition > .partition-header {
    border-bottom: 2px solid var(--greentea);
}
.indexPage .partition > .partition-header > div.btn-gradient-greentea {
    /* 파티션 헤더의 박스 크기 : 글자수에 따라 가변적 */
    display: inline-block;
}
.indexPage .partition > .partition-header > div.btn-gradient-greentea > svg {
    /* 파티션 헤더의 아이콘 */
    transform: translateY(3px);
    margin-right: 7px;
}
.indexPage .partition > .partition-header > div.btn-more {
	font-weight: bold;
}
.indexPage .partition > .partition-header > div.btn-more > svg {
	color: var(--greentea);
}

/* 파티션 내용(표) 모양 설정 */
.indexPage .partition > .partition-body table {
    font-size: 14px;
    /* border-collapse: collapse; */
}
.indexPage .partition > .partition-body table tr td {
    padding-bottom: 5px;
    border-bottom: 1px dashed var(--greentea);
}
.indexPage .partition > .partition-body table td.listmark svg {
    transform: translateY(3px);
    color: var(--greentea);
}
.indexPage .partition > .partition-body table td.boradRegdate {
    padding-right: 10px;
    text-align: right;
}

/* 날씨 표 모양 설정 */
.partition-body #weather ul {
	padding: 0;
    width: 100%;
    list-style: none;
}
.partition-body #weather li {
	padding: 5px 15px;
	text-align: center;
	border: 1px solid darkgray;
}
.partition-body #weather li:last-child {
	text-align: left;
	background-color: #f0f0f0;
}
.partition-body #weather ul:nth-child(2n) li {
	border-right: none;
	border-left: none;
}
.partition-body #weather ul:last-child li {
	border-right: 1px solid darkgray;
}
.partition-body #weather li:nth-child(n+2) {
	border-top: none;
}
.partition-body #weather .row-day > span:first-child, .partition-body #weather .row-desc > span {
	font-weight: bold;
}
.partition-body #weather .row-temp > span:first-child, .partition-body #weather .row-desc > span {
	color: blue;
}
.partition-body #weather .row-temp > span:last-child {
	color: red;
}

/* 매장정보 표 설정 */
.indexPage > .partition-wrapper:last-child .partition:first-child {
    margin-right: 0;
}
.partition-body #storeInfo {
	margin-top: 10px;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.partition-body #storeInfo td {
	border: 1px solid darkgray;
}
.partition-body #storeInfo tr:first-child td, .partition-body #storeInfo tr:nth-child(2) td {
	background-color: #f0f0f0;
}
