@charset "UTF-8";

/* topQuick header 모양설정 */
nav.topQuick-header {
	padding: 3px 10px 5px 10px;
	background: linear-gradient(80deg, #567dcd, #779ddd);
}

/* topQuick header 내부 글자 설정 */
nav.topQuick-header ul > li {
	color: white;
}
nav.topQuick-header ul > li > svg {
	transform: translateY(3px);	
}
nav.topQuick-header ul > li.MenuName {
	margin-left: 3px;
	font-size: 14px;
	font-weight: bold;
}
nav.topQuick-header ul > li.MenuLocation {
	transform: translateY(2px);
}

/* topQuick body 모양설정 */
div.topQuick-body ul {
	padding: 5px 10px;
	border-bottom: 1px solid lightgray;
	background-color: var(--okpos-gray);
	background-color: #f0f0f0;
}
div.topQuick-body ul li {
	margin-right: 20px;
}

/* topQuick body 내부 아이템 모양설정 */
div.topQuick-body ul li .code {
	width: 55px;
}
div.topQuick-body ul li input[type="number"] {
	width: 50px;
}
div.topQuick-body ul li .btn { /* 조회 버튼 */
	padding: 0;
	width: 55px;
	height: 23px;
}

/* 메인메뉴 위치 설정 */
.mainMenu-wrap {
	margin-top: 15px;
	border: 1px solid lightgray;
}
.mainMenu-wrap > article.mainMenu-left {
	flex: 1;
	margin: 6px;
}
.mainMenu-wrap > article.mainMenu-right {
	flex: 3;
	margin: 6px;
}

/* 메뉴 헤더 모양 설정 */
.mainMenu-wrap nav.mainMenu-header {
	padding: 3px 8px 5px 8px;
	background: linear-gradient(80deg, #66b613, #83c43a);
}
.mainMenu-wrap nav.mainMenu-header li {
	margin-right: 5px;
	color: white;
	font-weight: bold;
}
.mainMenu-wrap nav.mainMenu-header li svg {
	transform: translateY(3px);
}

/* 메뉴 버튼 모양 설정 */
nav.pill {
	margin-top: 10px;	
}
nav.pill ul li {
	padding: 3px 10px;
	border: 1px solid darkgray;
	border-radius: 3px 3px 0 0;
	background-color: var(--okpos-gray);
	background-color: #f0f0f0;
}
nav.pill ul li:hover,
nav.pill ul li.active {
	color: white;
	background-color: #66b613;
}

/* 메뉴 본문 설정 */
.mainMenu-wrap .mainMenu-body {
	background-color: var(--okpos-gray);
	background-color: #f0f0f0;
	box-shadow: 0 -1px 2px darkgray;
}
.mainMenu-wrap .mainMenu-body .btn {
	padding: 0 10px 1px 10px;
	height: 23px;
}
.mainMenu-wrap .mainMenu-body div.table-wrap {
	flex: 1;
	margin: 6px;
}
.mainMenu-wrap .mainMenu-body div.table-wrap table {
	width: 100%;
}
.mainMenu-wrap .mainMenu-body div.table-wrap table tr:first-child td:first-child {
	width: 80px;
}

/* 표 모양 설정 */
.mainMenu-wrap .mainMenu-body .tableY-scroll {
	max-height: 540px;
	overflow: hidden;
	overflow-y: scroll;
}
.mainMenu-wrap .mainMenu-body table.table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid darkgray;
}
.mainMenu-wrap .mainMenu-body table.table tr:nth-last-child(n+2) {
	border-bottom: 1px solid lightgray;
}
.mainMenu-wrap .mainMenu-body table.table tr:first-child td {
	padding: 3px 0;
	text-align: center;
	color: white;
	background-color: #66b613;
}
.mainMenu-wrap .mainMenu-body table.table tr:nth-child(n+2) td {
	padding: 0 5px;
	background-color: var(--okpos-gray);
	background-color: #f0f0f0;
}
.mainMenu-wrap .mainMenu-body table.table tr td:nth-last-child(n+2) {
	border-right: 1px solid lightgray;
}